//==========================
//  Selector and Page About style Start
//==========================
#about, #circle{
    // background-color: red;
    position: relative;
    .slide-scroll{
        position: absolute;
        bottom: 30px;
        // opacity: 0.2;
    }
}
#about{
    .title{
        background-color: red;
        width: 100%;
    }
}
#text-me{
    .title{
        color: white;
    }
    p{
        line-height: 250%;
        font-size: 24px;
    }
}
