//- layout.pug
extends ../template/layout.pug


block main
    .barba-container(data-namespace="OwlCarousel")
        article
            header
                .owl-carousel.owl-carousel-index-header
                    each item in [1, 2, 3, 4, 5]
                        .container-fluid
                            .row.item.position-relative
                                .col-lg-12.wrap-parallax.text-right
                                    h1.title.font-weight-bold.position-absolute Plannica
                                    img.background.img-fluid(src="https://www.wallpaperup.com/uploads/wallpapers/2014/12/12/551581/9d61d305d4362e8796737a5b52fbbf1b-1000.jpg", alt="")
                                    button.desc.btn.btn-dark wooow
            .container
                h1.my-4 Welcome to Modern Business
                .row 
                    each val in [1, 2, 3]
                        .col-lg-4.mb-4
                            .card.h-100
                                h4.card-header Card Title
                                .card-body
                                    p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .card-footer
                                    a.btn.btn-primary(href="#") Learn More
                h1.my-4 Portfolio Heading
                .row
                    each vas in [1, 2, 3]
                        .col-lg-4.col-sm-6.portfolio-item
                            .card.h-100
                                a(href="#")
                                    img.card-img-top(src="http://placehold.it/700x400" alt="")
                                .card-body
                                    h4
                                        a(href="#") Project On
                                    p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            
                .row
                    .col-lg-6
                        h2 Modern Business Features
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat enim nam, maxime ratione sint necessitatibus, at eveniet saepe sed placeat dolorum est quia odio recusandae voluptatum velit maiores cumque expedita.
                        ul
                            li 
                                striong Bootstrap 4
                            li jQuerys
                            li Font Awesome
                            li Work Hard Play hard
                            li Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .col-lg-6
                        img.img-fluid.rounded(src="http://placehold.it/700x400" alt="")
                
                hr

                .row.mb-4
                    .col-lg-8
                        p Lorem ipsum dolor sit amet consectetur adispisicing elit. Facilis, facere nisi? Ad quam ab neque similique cupiditate fugit quae nobis, fugiat, reiciendis minima quasi tenetur blanditiis alias error. Laudantium, vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .col-lg-4
                        a.btn.btn-lg.btn-secondary.btn-block(href="#") Call to Action
                
                hr