//- layout.pug
extends ../template/layout.pug


block main
    .barba-container(data-namespace="OwlCarousel")
        header.video
            video(playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop")
                source(src="storage/Mt_Baker.mp4" type="video/mp4")
            .container.h-100
                .d-flex.h-100.text-center.align-items-center
                    .w-100.text-white
                        h1 Video Header
                        p.lead.mb-0 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla ea tempora quaerat assumenda at, iure provident, ab quam doloribus non aperiam distinctio in id! Et dolore quo possimus minima ipsum!
        .container
            .text-center.py-5.my-5
                p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea pariatur laboriosam, explicabo reprehenderit temporibus nostrum similique ex voluptate cupiditate. Iure minima illum quae dignissimos fuga maiores a natus, ipsa pariatur!
        
            .row.text-center
                .col-lg-12
                    h1.mb-5 OWL Slider 
                .owl-carousel.owl-carousel-basic
                    each item in [1, 2, 3, 4, 5]
                        .item
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quo repellendus exercitationem aspernatur odio dolore. Impedit, ratione omnis eveniet, velit ea beatae doloribus eos obcaecati aliquam ipsam praesentium veniam ut!