// -- Color -- //
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');


body{
    // font-family: 'Raleway', 'sans-serif';
    // padding-top: 56px;
}

.load-page{
    img{
        position: absolute;
        opacity: 0;
        width: 40px;
        height: auto;
    }
}
.items-scroll{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    .inner {
        position: relative; 
    }
    .outer {
        border-bottom: solid white 2px;
        overflow: hidden;
    }
    &:nth-child(1) {
        background-color: #84c186;
    }
    &:nth-child(2) {
        background-color: #8b6c4c;
    }
    &:nth-child(3) {
        background-color: #39a3ee;
    }
    &:nth-child(4) {
        background-color: #ef9144;
    }
    &:nth-child(5) {
        background-color: #cd58eb;
    }
    &:nth-child(6) {
        background-color: #b84b4b;
    }
}
.wrap-parallax{
    position: relative;
    width: 100%;
    height: 100%;
    .background{
        transform: scaleX(1);
        transform-origin: right;
    }
    .item-1{
        position: absolute;
        top: 20px;
        left: 0;
        h1{
            color: black;
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
            font-weight: bold;
            mix-blend-mode: screen;
        }
        p{
            color: #000;
            transition: all 0.2s;
            transform-origin: bottom;
        }
    }
    .item-2{
        position: absolute;
        top: 20px;
        left: 0;
    }
}

.header-scroll {
    position: fixed;
    top: 20%;
    width: 2px;
    z-index: 99;
    .progress-container {
        background-color: rgba(150, 150, 150, 0.6);
        height: 100px;
        width: 2px;
        .progress-bar {
            background-color: #2196f3;
            height: 0%;
            width: 100%;
        }
    }
}


body::-webkit-scrollbar {
    width: 5px;
}
 
body::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 5px solid slategrey;
  border-radius: 3px;
  left: 0;
  position: absolute;
}


.header-scroll {
    position: fixed;
    bottom: 10%;
    right: 100px;
    width: 2px;
    z-index: 100;
}

.progress-container {
    background-color: rgba(150, 150, 150, 0.6);
    height: 100px;
    width: 2px;
}

.progress-bar {
background-color: #2196f3;
height: 0%;
width: 100%;
}

.black-fade-in{
    background-color: red;
}
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}
  
.line-thumb{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}
.grid{
    top: 0;
    height: 100vh;
    width: 100%;
    .col-lg-3{
        height: 100vh;
        border-left: 1px solid rgba(0, 0, 0, .3);
        &:last-child{
            border-right: 1px solid rgba(0, 0, 0, .3);
        }
    }
}

header{
    &.video{
        &::after{
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: 0.5);
        }
        position: relative;
        background-color: black;
        height: 75vh;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
        video{
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 0;
            -ms-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
        .container{
            position: relative;
            z-index: 2;
        }
    }
}
  

#progress-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100vh;
    z-index: 20;
    background: rgba(103,58,183,1);
    will-change: transform;
    transform: scaleY(0);
    transform-origin: 0px 0px;
}