#category{
    &.one{
        .textBackground{
            position: relative;
            color: red;
            p{
                position: absolute;
                @include text-big-title(1px, $light:false);
                opacity: 0.1;
            }
        }
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none;
            }
        }
    }
    &.two{
        .sosialMedia{
            ul{
                @include ul-vertical();
            }
        }
    }
}