.animateScroll {
    // background-color: green;
    opacity: 0;
  }
#header{
    &.one{
        h3{
            @include text-big-title(2px, $light:false);
        }
    }
    &.two{
        .item{
            position: relative;
            .content{
                @include vertical-center;
                h1{
                    @include text-big-title(1px, $light:false);
                    font-weight: bold;
                }
            }
        }
    }
    &.three{
        .title{
            @include text-title();
        }
    }
    &.four{
        height: 100vh;
    }
}