.animateScroll {
    // background-color: green;
    opacity: 0;
  }
#header{
    &.one{
        h3{
            @include text-big-title(2px, dark);
        }
    }
    &.two{
        .item{
            position: relative;
            .content{
                @include vertical-center;
                h1{
                    @include text-big-title(1px, dark);
                    font-weight: bold;
                }
            }
        }
    }
    &.three{
        .title{
            @include text-big-title(0px, dark);
            color: $dark-color;
        }
    }
    &.four{
        height: 80vh;
        @include vertical-center;
        h1{
            @include text-big-title(2px, light);
        }
        .footer{
            width: 100%;
            left: 15px;
            bottom: 0;
            .sosialMedia{
                ul{
                    @include ul-vertical();
                }
            }
        }
    }
}