#header{
    &.one{
        h3{
            @include text-big-title(5px, $light:false);
        }
    }
    &.two{
        .item{
            height: 100vh;
            position: relative;
            h1{
                @include text-big-title(1px, $light:false);
            }
            img{
                position: absolute;
                height: 100%;
                width: auto;
                right: 10vw;
            }
        }
    }
    &.three{
        .title{
            @include text-title();
        }
    }
}