#projectItem{
    &.one{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        perspective: 1000;
        position: relative;
        #itemSlide{
            width: 500%;
            height: 100vh;
            .item{
                @include vertical-center();
                height: 100vh;
                width: calc(100% / 5);
                float: left;
                position: relative;
                p{
                    color: black;
                    // text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
                    font-weight: bold;
                    mix-blend-mode: screen;
                }
                h4{
                    @include text-big-title(1px, $light:true);
                    color: black;
                    // text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
                    font-weight: bold;
                    mix-blend-mode: screen;
                }
            }
        }
    }
    &.two{
        position: relative;
        z-index: 4;
        .items{
            height: 80vh;
            position: relative;
            .img-bg{
                width: 100%;
                height: 100%;
                position: absolute;
                background-image: url(../image/dummy.jpg);
                background-position: center;
                background-size: cover;
            }
            h2{
                @include text-big-title(5px, $light:false);
            }
            .content{
                height: 68vh;
                h4{
                    a{
                        @include underline;
                    }  
                }
            }
        }
    }
    &.three{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        perspective: 1000;
        position: relative;
        #itemSlide{
            width: 500%;
            height: 100vh;
            .item{
                @include vertical-center();
                height: 100vh;
                width: calc(100% / 5);
                float: left;
                position: relative;
                h4{
                    @include text-big-title(2px, $light:false);
                }
            }
        }
    }
}