#projectItem{
    &.one{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        perspective: 1000;
        position: relative;
        #itemSlide{
            width: 500%;
            height: 100vh;
            .item{
                @include vertical-center();
                height: 100vh;
                width: calc(100% / 5);
                float: left;
                position: relative;
                p{
                    color: black;
                    // text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
                    font-weight: bold;
                    mix-blend-mode: screen;
                }
                h4{
                    @include text-big-title(1px, $light:true);
                    color: black;
                    // text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
                    font-weight: bold;
                    mix-blend-mode: screen;
                }
            }
        }
    }
    &.two{
        .item{
            .imageItem{
                &::after{
                    content: "";
                    position: absolute;
                    // background-color: red;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.6;
                    background: color('shades', 'black');
                    background: -moz-linear-gradient(45deg, color('shades', 'black') 0%, rgba(255,255,255,0) 100%);
                    background: -webkit-gradient(left bottom, right top, color-stop(0%, color('shades', 'black')), color-stop(100%, rgba(255,255,255,0)));
                    background: -webkit-linear-gradient(45deg, color('shades', 'black') 0%, rgba(255,255,255,0) 100%);
                    background: -o-linear-gradient(45deg, color('shades', 'black') 0%, rgba(255,255,255,0) 100%);
                    background: -ms-linear-gradient(45deg, color('shades', 'black') 0%, rgba(255,255,255,0) 100%);
                    background: linear-gradient(45deg, color('shades', 'black') 0%, rgba(255,255,255,0) 100%);
                }
            }
            .content{
                color: color('grey', 'darken-2');
                bottom: 0;
                // max-width: 30%;
                .title{
                    @include text-big-title(1px, $light:true);
                    color: black;
                    // text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
                    font-weight: bold;
                    mix-blend-mode: screen;
                    visibility: visible;;
                    &::after{
                        content: " ";
                        width: 30%;
                        height: 2px;
                        background-color: color('grey', 'darken-1');
                        display: block;
                        margin: {
                            top: 10%;
                            bottom: 10%;
                        }
                    }
                }
            }
        }
    }
    &.three{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        perspective: 1000;
        position: relative;
        #itemSlide{
            width: 500%;
            height: 100vh;
            .item{
                @include vertical-center();
                height: 100vh;
                width: calc(100% / 5);
                float: left;
                position: relative;
                h4{
                    @include text-big-title(1px, $light:true);
                    color: black;
                    // text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
                    font-weight: bold;
                    mix-blend-mode: screen;
                }
            }
        }
    }
}