
nav{
    &.two{
        .menus{
            ul{
                position: relative;
                padding:{
                    left: 10px;
                }
                li{
                    list-style: none;
                }
                &::after{
                    content: "";
                    width: 5%;
                    height: 3px;
                    background-color: red;    
                    position: absolute;
                    bottom: -40px;
                    left: 10px;
                }
            }
        }
    }
    &.three{
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        @include vertical-center();
        h3{
            @include text-big-title(5px, dark);
            display: inline-block;
        }  
    }
    &.four{
        z-index: 99;
        height: 100vh;
        @include vertical-center();
        ul{
            padding: 0;
            li{
                // @include text-big-title(1px, $light:false);
                list-style: none;
            }
        }
    }
    &.five{
        // background-color: red;
        position: absolute;
        width: 100%;
    }
}