mixin about(version)
    -var item = version

    if (version == "one")
        #about.one.my-5.py-5.animate1
            .container
                .row.justify-content-end
                    .col-lg-10
                        p.text-muted Your vision. Unrestricted.
                .row
                    .col-lg-3
                    .col-lg-4.pt-5
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    .col-lg-5
                        h3.px-5 rationally -- encounter consequences
    if (version == "two")
        #about.two.my-5.py-5.animate1
            .container
                .row
                    .col-lg-12
                        h2.textBigTitle About Us
                .row.mt-n5
                    each aboutName in ['Greyson MacApine', 'Isma Wulandari' ] 
                        .col-lg-3
                            i.text-muted Founder / Photographer / Designer
                            h4= aboutName
                            img.img-fluid(src="image/dummy.jpg", alt="") 
                            p.mt-3.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis incidunt laborum reprehenderit vitae corporis doloremque reiciendis unde, dicta ab quibusdam ut molestias. 
                    .col-lg-6
                        h2.mt-5.pt-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, corrupti.
                        p.text-justify Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloremque magni nemo odit sed est tenetur illo possimus neque deleniti natus, nostrum in deserunt blanditiis soluta quo dicta dignissimos ipsam.