mixin article(version)
    -var item = version

        if (version == "one")
            #article.one
                .container.my-5
                    .row    
                        .col-lg-3   
                        .col-lg-9.itemTransition
                            p.display-4.hoverTransition What we did?
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quae quidem earum, ipsam ea molestiae voluptates voluptatem esse aspernatur, explicabo voluptatibus autem voluptatum nisi dolore maiores doloremque illum commodi blanditiis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quae quidem earum, ipsam ea molestiae voluptates voluptatem esse aspernatur, explicabo voluptatibus autem voluptatum nisi dolore maiores doloremque illum commodi blanditiis.
                .container-fluid.my-5  
                    .row
                        .col-lg-12
                            .animate.itemTransition
                                img.hoverTransition.img-fluid(src="https://www.wallpaperup.com/uploads/wallpapers/2012/05/25/3158/2c5d704d5867621088cfc6c4afbc76ff.jpg", alt="")
                .container.my-5
                    .row    
                        .col-lg-3   
                        .col-lg-9
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quae quidem earum, ipsam ea molestiae voluptates voluptatem esse aspernatur, explicabo voluptatibus autem voluptatum nisi dolore maiores doloremque illum commodi blanditiis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quae quidem earum, ipsam ea molestiae voluptates voluptatem esse aspernatur, explicabo voluptatibus autem voluptatum nisi dolore maiores doloremque illum commodi blanditiis.
                .container-fluid.my-5
                    .row
                        .col-lg-12
                            .animate.itemTransition
                                img.hoverTransition.img-fluid(src="https://www.wallpaperup.com/uploads/wallpapers/2012/05/25/3158/2c5d704d5867621088cfc6c4afbc76ff.jpg", alt="")
                .container-fluid.my-5
                    .row
                        .col-lg-12
                            .animate.itemTransition
                                img.hoverTransition.img-fluid(src="https://www.wallpaperup.com/uploads/wallpapers/2012/05/25/3158/2c5d704d5867621088cfc6c4afbc76ff.jpg", alt="")
                .container-fluid.my-5
                    .row
                        .col-lg-6
                            .animate.itemTransition
                                img.hoverTransition.img-fluid(src="https://www.wallpaperup.com/uploads/wallpapers/2012/05/25/3158/2c5d704d5867621088cfc6c4afbc76ff.jpg", alt="")
                        .col-lg-6
                            .animate.itemTransition
                                img.hoverTransition.img-fluid(src="https://www.wallpaperup.com/uploads/wallpapers/2012/05/25/3158/2c5d704d5867621088cfc6c4afbc76ff.jpg", alt="")