mixin header(version)
    -var item = version

    if (version == "one")
        #header.one.pt-5
            .header-text.container.owl-carousel.owl-carousel-indexHeader
                each item in [1,2,3,4,5]
                    .row.item.align-items-center.py-6
                        .col-lg-12
                            h3.display-1.text-uppercase Let The 
                            h3.display-1.text-uppercase Fun Begin
                            p.text-muted Written by Cicero in 45 BC
    if (version == "two")
        #header.two.pt-5
            .owl-carousel.owl-carousel-indexHeaderTwo.wrap-parallax
                each item in [1,2,3,4,5]
                    .item
                        .container
                            .row.item
                                .col-md-10.offset-1
                                    .content.py-6
                                        .article
                                            p.desc We are
                                            h1.title.display-2 Creative Agency
                                            p.desc Digital agency based in Klaten, Indonesia that loves to craft attractive experiences for the web.
    if (version == "three")
        #header.three.pt-5
            .container.py-6
                .row
                    .col-lg-3.offset-md-1
                        p.display-8 & is a connection. Connection between
                .row.justify-content-center
                    .col-lg-10.pt-3
                        p.display-1.title Popow's 
                        p.display-1.title Strategy
    if(version == "four")
        #header.four.position-relative.parallax(data-speed="0.5" data-img-src="image/dummy.jpg")
            .container.wrap-parallax
                .row.justify-content-center
                    .col-lg-8.mt-6
                        h1.text-center.background.textBigTitle.mt-n6 HELLO popo'w
                .row.position-absolute.footer.py-3
                    .col-lg-6.text-left
                        p hello@algakhaa.com
                    .col-lg-6.text-right
                        .sosialMedia
                            ul
                                li.pr-5 
                                    a(href="#") fb.        
                                li.pr-5 
                                    a(href="#") Tw.        
                                li.pr-5 
                                    a(href="#") Tr.        
                                li.pr-5 
                                    a(href="#") ig.