mixin header(version)
    -var item = version

    if (version == "one")
        #header.one
            .header-text.container.owl-carousel.owl-carousel-indexHeader
                each item in [1,2,3,4,5]
                    .row.item.align-items-center.py-6
                        .col-lg-12
                            h3.textBigTitle.text-uppercase Let The 
                            h3.textBigTitle.text-uppercase Fun Begin
                            p.text-muted Written by Cicero in 45 BC
    if (version == "two")
        #header.two
            .owl-carousel.owl-carousel-indexHeaderTwo.wrap-parallax
                each item in [1,2,3,4,5]
                    .item
                        .container
                            .row.item
                                .col-md-10.offset-1
                                    .content.py-6
                                        .article
                                            p.desc We are
                                            h1.title.display-2 Creative Agency
                                            p.desc Digital agency based in Klaten, Indonesia that loves to craft attractive experiences for the web.
    if (version == "three")
        #header.three
            .container.py-6
                .row
                    .col-lg-3.offset-md-1
                        p.display-8 & is a connection. Connection between
                .row
                    .col-lg-10.offset-md-1.pt-3
                        p.display-1.title Popow's 
                        p.display-1.title Strategy