mixin item(version)
    -var item = version

    if (version == "one")
        #projectItem.one
            #itemSlide
                each titleProject in ['rude', 'mkey', 'dance', 'popow', 'mels']
                    .item.container-fluid
                        .wrap-parallax
                            .row
                                .col-lg-8.col-lg-push-3
                                    img.img-fluid.background(src="https://www.wallpaperup.com/uploads/wallpapers/2012/05/25/3158/2c5d704d5867621088cfc6c4afbc76ff-700.jpg", alt="woownan")
                                .col-lg-4.col-lg-pull-7.text-right.pt-5.mt-5
                                    p.desc Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    h4.textTitle.title= titleProject

    if (version == "two")
        #projectItem.two
            each val in ['zero', 'utility', 'elem']
                .items.my-7
                    .wrapItemScroll.wrap-parallax
                        .container-fluid.img-bg.background-Scroll
                        .container                  
                            .row.justify-content-end
                                .col-lg-12
                                    h2.title.mt-n5.textBigTitle= val
                            .row.justify-content-end.align-items-end.content
                                .col-lg-3.py-3.px-5
                                    h4
                                        a Weyerhauser. Seattle, WA. Santo Rio
                                .col-lg-3.py-3.px-5
                                    h4
                                        a Brushed. Anodized. Veneer. Powder Coated.
                                .col-lg-3.py-3.px-5
                                    h4 
                                        a Single, Double, and Curved glazed systems
    if (version == "three")
        #projectItem.three
            #itemSlide
                each titleProject in ['waka', 'mkey', 'dance', 'popow', 'mels']
                    .item.container-fluid
                        .wrap-parallax
                            .row
                                .col-lg-8.col-lg-push-3
                                    img.img-fluid.background(src="image/dummy.jpg", alt="woownan")
                                .col-lg-4.col-lg-pull-7.text-right.pt-5.mt-5
                                    h4.display-4.title= titleProject
                                    p.desc Lorem ipsum dolor sit amet consectetur adipisicing elit.