mixin item(version)
    -var item = version

    if (version == "one")
        #projectItem.one
            #itemSlide
                each titleProject in ['rude', 'mkey', 'dance', 'popow', 'mels']
                    .item.container-fluid
                        .wrap-parallax
                            .row
                                .col-lg-8.col-lg-push-3
                                    img.img-fluid.background(src="https://www.wallpaperup.com/uploads/wallpapers/2012/05/25/3158/2c5d704d5867621088cfc6c4afbc76ff-700.jpg", alt="woownan")
                                .col-lg-4.col-lg-pull-7.text-right.pt-5.mt-5
                                    p.desc Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    h4.textTitle.title= titleProject

    if (version == "two")
        #projectItem.two.py-6
            .container
                each titleProject in ['rudes', 'mkey', 'dance', 'popow', 'mels']
                    .wrap-parallax
                        .row.mb-4
                            .col-lg-10.mb-4.offset-1.item
                                a(href="single-classic-dark.html")
                                    .animate
                                        .imageItem.position-relative
                                            img.img-fluid(src="https://www.wallpaperup.com/uploads/wallpapers/2012/05/25/3158/2c5d704d5867621088cfc6c4afbc76ff.jpg", alt="")
                                    .content.position-absolute.p-5
                                        h3.display-1.title.text-center.mt-n5= titleProject

    if (version == "three")
        #projectItem.three
            #itemSlide
                each titleProject in ['waka', 'mkey', 'dance', 'popow', 'mels']
                    .item.container-fluid
                        .wrap-parallax
                            .row
                                .col-lg-8.col-lg-push-3
                                    img.img-fluid.background(src="image/dummy.jpg", alt="woownan")
                                .col-lg-4.col-lg-pull-7.text-right.pt-5.mt-5
                                    h4.display-4.title= titleProject
                                    p.desc Lorem ipsum dolor sit amet consectetur adipisicing elit.