mixin project(version)
    -var item = version

    if (version == "one")
        #project.my-5.py-5
            .container
                .row
                    .col-lg-12.text-right
                        h3.textBigTitle Best Project List