//- layout.pug
extends ../template/layout.pug


block main
    article
        .container 
            h1.mt-4.md-3 Services 
                small Subheading
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="#") Home
                li.breadcrumb-item.active Services
            
            img.img-fluid.rounded.mb-4(src="http://placehold.it/1200x300", alt="")

            .row
                each val in [1, 2, 3]
                    .col-lg-4.mb-4
                        .card.h-100
                            h4.card-header Card Title
                            .card-body
                                p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore esse, veniam necessitatibus labore sapiente quae deleniti enim totam saepe error consequatur aliquid provident alias accusantium animi autem nostrum eos? Reprehenderit!
                            .card-footer
                                a.btn.btn-primary(href="#") Learn More