@import url("https://fonts.googleapis.com/css?family=Roboto:200,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Reem+Kufi:300,400,700,900");
* {
  font-family: 'Reem Kufi'; }

button:focus {
  outline: 0 !important; }

a, p {
  margin: 0;
  letter-spacing: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

body {
  height: 100%;
  background-color: #fafafa; }

.owl-carousel-indexHeader {
  position: relative; }
  .owl-carousel-indexHeader .owl-nav {
    text-align: right;
    top: 15%;
    position: absolute;
    right: 20%;
    font-family: 'Reem Kufi', sans-serif; }
    .owl-carousel-indexHeader .owl-nav button.owl-next,
    .owl-carousel-indexHeader .owl-nav button.owl-prev {
      color: black;
      background-image: linear-gradient(to right, yellow 0, yellow 100%);
      background-size: 0% 30%;
      background-repeat: no-repeat;
      background-position: 0 50%;
      transition: background .5s;
      letter-spacing: 12px;
      margin: 10px; }
      .owl-carousel-indexHeader .owl-nav button.owl-next padding,
      .owl-carousel-indexHeader .owl-nav button.owl-prev padding {
        left: 2%;
        right: 2%; }
      .owl-carousel-indexHeader .owl-nav button.owl-next:hover,
      .owl-carousel-indexHeader .owl-nav button.owl-prev:hover {
        background-size: 150% 30%;
        background-image: linear-gradient(to right, yellow 0, yellow 100%); }

nav.two .menus ul {
  position: relative;
  padding-left: 10px; }
  nav.two .menus ul li {
    list-style: none; }
  nav.two .menus ul::after {
    content: "";
    width: 5%;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: -40px;
    left: 10px; }

nav.three {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center; }
  nav.three h3 {
    letter-spacing: 22px;
    font-weight: bold;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #212529;
    font-family: 'Roboto', 'sans-serif';
    color: transparent;
    text-transform: uppercase;
    display: inline-block; }

#header h3 {
  letter-spacing: 22px;
  font-weight: bold;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #212529;
  font-family: 'Roboto', 'sans-serif';
  color: transparent;
  text-transform: uppercase; }

#about.two h2.textBigTitle {
  letter-spacing: 22px;
  font-weight: bold;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #212529;
  font-family: 'Roboto', 'sans-serif';
  color: transparent;
  text-transform: uppercase; }

#project h3 {
  letter-spacing: 22px;
  font-weight: bold;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #212529;
  font-family: 'Roboto', 'sans-serif';
  color: transparent;
  text-transform: uppercase; }

#projectItem.one {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  perspective: 1000;
  position: relative; }
  #projectItem.one #itemSlide {
    width: 500%;
    height: 100vh; }
    #projectItem.one #itemSlide .item {
      display: flex;
      align-items: center;
      height: 100vh;
      width: calc(100% / 5);
      float: left;
      position: relative; }

#projectItem.two {
  position: relative;
  z-index: 4; }
  #projectItem.two .items {
    height: 80vh;
    position: relative; }
    #projectItem.two .items .img-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url(../image/dummy.jpg);
      background-position: center;
      background-size: cover; }
    #projectItem.two .items h2 {
      letter-spacing: 22px;
      font-weight: bold;
      -webkit-text-stroke-width: 5px;
      -webkit-text-stroke-color: #212529;
      font-family: 'Roboto', 'sans-serif';
      color: transparent;
      text-transform: uppercase; }
    #projectItem.two .items .content {
      height: 68vh; }
      #projectItem.two .items .content h4 a {
        color: black;
        background-image: linear-gradient(to right, yellow 0, yellow 100%);
        background-size: 0% 30%;
        background-repeat: no-repeat;
        background-position: 0 50%;
        transition: background .5s; }
        #projectItem.two .items .content h4 a padding {
          left: 2%;
          right: 2%; }
        #projectItem.two .items .content h4 a:hover {
          background-size: 150% 30%;
          background-image: linear-gradient(to right, yellow 0, yellow 100%); }

#brand.one h2 {
  letter-spacing: 22px;
  font-weight: bold;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #212529;
  font-family: 'Roboto', 'sans-serif';
  color: transparent;
  text-transform: uppercase; }
