@import url("https://fonts.googleapis.com/css?family=Raleway:200,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
* {
  cursor: none; }

body {
  padding-top: 56px;
  background-color: #ffffff;
  position: relative;
  transition: 1s; }

.load-page img {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: auto; }

.black-fade-in {
  background-color: #1a1a1a;
  transition: 0.5s; }
  .black-fade-in p {
    transition: 2s;
    color: rgba(255, 255, 255, 0.6); }

.cursor, .cursor-follow {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  pointer-events: none;
  z-index: 99999;
  pointer-events: none; }

.cursor {
  width: 40px;
  height: 40px;
  position: absolute;
  border: 3px solid gray;
  border-radius: 50%;
  top: -8px;
  left: -8px;
  transition: all 0.2s; }

.expand-click {
  animation: cursorAnim3 .5s alternate; }

@keyframes cursorAnim {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.7); } }

@keyframes cursorAnim2 {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.4); } }

@keyframes cursorAnim3 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.4); }
  100% {
    transform: scale(1); } }

nav {
  z-index: 999; }

header.video {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden; }
  header.video::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  header.video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  header.video .container {
    position: relative;
    z-index: 2; }
