//- layout.pug
extends ../template/layout.pug


block main
    header
        #carouselExampleIndicators.carousel.slide(data-ride="carousel")
            ol.carousel-indicators
                li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
                li(data-target="#carouselExampleIndicators" data-slide-to="1")
                li(data-target="#carouselExampleIndicators" data-slide-to="2")
            .carousel-inner(role="listbox")
                .carousel-item.active(style="background-image: url('http://placehold.it/1900x1080')")
                    .carousel-caption.d-none.d-md-block
                        h3 First Slide
                        p This is a description for the first slide.
                .carousel-item(style="background-image: url('http://placehold.it/1900x1080')")
                    .carousel-caption.d-none.d-md-block
                        h3 First Slide
                        p This is a description for the second slide.
                .carousel-item(style="background-image: url('http://placehold.it/1900x1080')")
                    .carousel-caption.d-none.d-md-block
                        h3 First Slide
                        p This is a description for the third slide.
                a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    .sr-only Previous
                a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    .sr-only Next
    
    #project.wrapper
        #js-slideContainer.sections
            section.section
                span#title1.section__title Section 1
            section.section
                span#title2.section__title Section 2
            section.section
                span#title3.section__title Section 3
            section.section
                span#title4.section__title Section 4
            section.section
                span#title5.section__title Section 5
    #woow
        h2 Lorem ipsum dolsor sit amet conssectestur adipisicing elit. Libero eum dicta ex natus nemo dolorem in dolor, tenetur perferendis et? In praesentium placeat assumenda harum similique? Voluptate omnis totam adipisci?
        h2 Lorem ipsum dolor sit amet consectetusr adipisicing elit. Libero eum dicta ex natus nemo dolorem in dolor, tenetur perferendis et? In praesentium placeat assumenda harum similique? Voluptate omnis totam adipisci?
        h2 Lorem ipsum dolor sit amet cosnsectetur adasdipisicing elit. Libero eum dicta ex natus nemo dolorem in dolor, tenetur perferendis et? In praesentium placeat assumenda harum similique? Voluptate omnis totam adipisci?
        h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eum dicta ex natus nemo dolorem in dolor, tenetur perferendis et? In praesentium placeat assumenda harum similique? Voluptate omnis totam adipisci?