@mixin text-big-title($stroke, $color){
    letter-spacing: 22px;
    font-weight: 900;
    -webkit-text-stroke-width: $stroke;
    font-family: 'Roboto', 'sans-serif';
    color: transparent;
    text-transform: uppercase;
    font-size: 10rem;
    @if $color == light{
        -webkit-text-stroke-color: $light-color;
    }@else if $color == dark {
        -webkit-text-stroke-color: $dark-color;
    }@else if $color == blue {
        -webkit-text-stroke-color: $sec-color-1;
    }
    @media #{$medium-and-down} {
        letter-spacing: 0px;
        font-size: 8rem;
    }
    @media #{$small-and-down} {
        line-height: 100%;
        font-size: 3rem;
    }
}
@mixin text-title(){
    font-family: 'Roboto', sans-serif;  
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #212529;
    text-transform: uppercase;
}
@mixin text-content(){
    font-family: 'Reem Kufi', sans-serif;  
    line-height: 150%;
}
@mixin underline(){
    color: black;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-size: 0% 30%;
    background-repeat: no-repeat;
    background-position: 0 50%;
    transition: background .5s;
    padding{
        left:  2%;
        right:  2%;
    }
    &:hover{
        background-size: 150% 30%;
        background-image: linear-gradient(to right, yellow 0, yellow 100%);
    }
}
@mixin space(){
    letter-spacing: 12px;
}
@mixin vertical-center {
    display: flex;
    align-items: center;
}

@mixin ul-vertical(){
        padding: 0;
        margin: 0;
        li{
            display: inline-block;
            list-style: none;
            padding: 0;
            margin: 0;
            
        }
}
