//- layout.pug
extends ../template/layout.pug


block main
    .container
        .text-center.py-5.my-5
            h1 Album Example
            p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea pariatur laboriosam, explicabo reprehenderit temporibus nostrum similique ex voluptate cupiditate. Iure minima illum quae dignissimos fuga maiores a natus, ipsa pariatur!
            p
                a.btn.btn-primary.mx-1(href="#") Main Call to Action
                a.btn.btn-secondary.mx-1(href="#") Secondary action
        .row
            each val in [1, 2, 3, 4, 5, 6]
                .col-lg-4.mb-4
                    .card.h-100
                        img.img-fluid.rounded-top(src="http://placehold.it/300x300", alt="")
                        .card-body
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sapiente mollitia blanditiis laboriosam voluptatem beatae ipsum rem asperiores quia nisi illo perferendis tenetur quasi distinctio, perspiciatis ea placeat itaque dignissimos.
                            p.text-right
                                small.text-muted 9 mins
        
        hr

        .row
            .col-lg-12 
                h2.text-center Swiper JS
            br
        .swiper-container
            .swiper-wrapper
                each items in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    .swiper-slide.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sit aliquam nisi laborum dolores odio, expedita asperiores modi praesentium doloribus voluptatem id veniam quidem! Asperiores quam commodi molestiae aliquam necessitatibus!
            .swiper-pagination
        hr