doctype html
html(lang='en')

    include components/_head.pug
    
    body
      main#barba-wrapper
        .load-page
          img.mx-3(src="storage/load1.gif", alt="")
        include components/_nav.pug
        block main
      include components/_footer.pug
      block scriptAdd
      include components/_scripts.pug