.header-text.container.owl-carousel.owl-carousel-indexHeader
    .row.justify-content-end.soo.item.align-items-center.min-vh-100
        .col-lg-12
            h1.textBigTitle.text-uppercase The standard Lorem Ipsum passage
            p.text-muted Written by Cicero in 45 BC
    .row.justify-content-end.soo.item.align-items-center.min-vh-100
        .col-lg-12
            h1.textBigTitle.text-uppercase The standard Lorem Ipsum passage
            p.text-muted Written by Cicero in 45 BC
    .row.justify-content-end.soo.item.align-items-center.min-vh-100
        .col-lg-12
            h1.textBigTitle.text-uppercase The standard Lorem Ipsum passage
            p.text-muted Written by Cicero in 45 BC
    .row.justify-content-end.soo.item.align-items-center.min-vh-100
        .col-lg-12
            h1.textBigTitle.text-uppercase The standard Lorem Ipsum passage
            p.text-muted Written by Cicero in 45 BC
    .row.justify-content-end.soo.item.align-items-center.min-vh-100
        .col-lg-12
            h1.textBigTitle.text-uppercase The standard Lorem Ipsum passage
            p.text-muted Written by Cicero in 45 BC