
extends ../template/layout.pug

include mixins/_page.pug

include part/_nav.pug
include part/_header.pug
include part/_about.pug
include part/_item.pug
include part/_brand.pug

block vars
    - var bodyClass = ''
    - var menu = 'classic'

block main
    +nav('five')
    +header('four') 
    +about('one')
    +item('one')
    +about('two')
    +item('two')

    
    //- +brand('one')
    //- +nav('three')
    //- +page('three')

    //- .coba  
    //-    #shuffle
    //-         .text-center
    //-             .container
    //-                 .row.justify-content-center
    //-                     .col-sm-4
    //-                         h1 haha
    //-                     .col-sm-4
    //-                         h1 wowowo
    //-                     .col-sm-4
    //-                         h1 sdudusd
    //-                     .col-sm-3
    //-                         h1 haha
    //-                     .col-sm-3
    //-                         h1 wowowo
    //-                     .col-sm-3
    //-                         h1 sdudusd
    //-                     .col-sm-3
    //-                         h1 sdudusd
    //-                     .col-sm-6
    //-                         h1 haha
    //-                     .col-sm-6
    //-                         h1 wowowo
