//- layout.pug
extends ../template/layout.pug

include mixins/_demo-page.pug

block main
    .page-bg
    .animation-wrapper
        .particle.particle-1
        .particle.particle-2
        .particle.particle-3
        .particle.particle-4
        
    .container
        .row.justify-content-center
            .col-lg-6.text-center.my-5
                h1 Coros
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quae harum corrupti, hic similique nobis maxime dignissimos exercitationem odio beatae esse cupiditate quasi! Facere beatae consequuntur, similique nulla aperiam necessitatibus!
    .container
        .row
            +demo-page(true)
            +demo-page(false, 'index-classic-dark.html')
            br
            +demo-page(false, 'project-classic-dark.html')