
extends ../template/layout.pug

include mixins/_page.pug

include part/_nav.pug
include part/_header.pug
include part/_about.pug
include part/_item.pug
include part/_category.pug
include part/_article.pug

block vars
    - var bodyClass = ''
    - var menu = 'classic'

block main
    +nav('five')
    +header('three')
    +article('one')
    +category('two')
    