// -- Color -- //
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');


body{
    // font-family: 'Raleway', 'sans-serif';
    // padding-top: -56px;
}
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}
nav{
    &.bg-trans{
        position: absolute;
        z-index: 2;
        width: 100%;
    }
}

.btn-bg-red{
    background-color: #CF4854;
    border: 0;
}


header{
    &#wool-paralax{
        width: 100%;
        height: 600px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        h1{
            color: transparent;
            font-weight: bold;
            -webkit-text-stroke: 2px rgba($color: #000, $alpha: 0.8);
        }
        .wool-layer{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            &.bg{
                width: 100%;
                height: 600px;
                img{
                    width: 110%;
                    height: 110%;
                    position:relative;
                    left: -10px;
                    top: -10px;
                    transition: 500ms filter linear;
                    -webkit-transition: 500ms -webkit-filter linear;
                    -moz-transition: 500ms -moz-filter linear;
                    -ms-transition: 500ms -ms-filter linear;
                    -o-transition: 500ms -o-filter linear;
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 120%;
                    height: 120%;
                    top: -10%;
                    left: -10%;
                    background-color: rgba($color:  #FFFFFF, $alpha: 0.8);
                    // background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.4), rgba(0,0,0,1));
                }
            }
            &.human{
                text-align: left;
                bottom: 0;
                top: 10%;
                img{
                    height: 110%;
                    width: auto;
                    max-width: 80%;
                }
            }
        }
    }
}
#about-me{
    // background-color: #1A1A1A;
    .items{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        .wool-layer{
            top: 0;
            left: 0;
            width: 100%;
            &.bg{
                background-color: yellow;
                img{
                    height: 500px;
                }
            }
            &.human{
                position: absolute;
                top: 30px;
                left: 50px;
                height: 500px;
                width: auto;
                max-width: 80%;
            }
            &.square{
                position: absolute;
                top: 30px;
                left: 30px;
                width: 100%;
                height: 100%;
                border: 10px solid rgba($color: #CF4854, $alpha: 1);
            }
        }
    }
}
#about-us{
    .bg{
        .item{
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0%;
                left: 0%;
                // background-color: rgba($color:  #FFFFFF, $alpha: 0.5);
                background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4), rgba(255,255,255,1));
            }
            img{
                height: 500px;
                width: auto;
            }
        }
    }
    .desc{
        bottom: 0px;
        height: 500px;
        width: auto;
    }
    .human{
        img{
            -webkit-filter: drop-shadow(5px 5px 5px #222);
            filter: drop-shadow(5px 5px 5px #222);
            height: 500px;
            width: auto;
        }
    }
}