doctype html
html(lang='en')

    include components/_head.pug
    
    block vars
        - var bodyClass = '' // empty or dark
        - var menu = 'classic' // classic or overlay

    body(class=bodyClass)
      // Main container where all the pages are going to be loaded
      block main

      // Footer
      include components/_footer.pug

      // Script
      include components/_scripts.pug