nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
        a.navbar-brand(href="index.html") Start Bootstrap
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href="about.html") About
                li.nav-item
                    a.nav-link(href="service.html") Services
                li.nav-item
                    a.nav-link(href="contact.html") Contact
                li.nav-item
                    a.nav-link(href="album.html") Album
                li.nav-item.dropdown
                    a#navbarDropdownPortfolio.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Fitured
                    .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdownPortfolio")
                        a.dropdown-item(href="OwlCarousel.html") Owl Slider
                        a.dropdown-item(href="ScrollMagic.html") ScrollMagic 
                        a.dropdown-item(href="vLine.html") vertical Line
                li.nav-item.dropdown
                    a#navbarDropdownPortfolio.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Portfolio
                    .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdownPortfolio")
                        a.dropdown-item(href="#") 1 Column Portfolio
                        a.dropdown-item(href="#") 2 Column Portfolio
                        a.dropdown-item(href="#") 3 Column Portfolio
                        a.dropdown-item(href="#") Single Portfolio Item
                li.nav-item.dropdown
                    a#navbarDropdownPortfolio.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Blog
                    .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdownPortfolio")
                        a.dropdown-item(href="#") Blog Home 1
                        a.dropdown-item(href="#") Blog Home 2
                        a.dropdown-item(href="#") Blog Post
                li.nav-item.dropdown
                    a#navbarDropdownPortfolio.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Other Pages
                    .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdownPortfolio")
                        a.dropdown-item(href="#") Full Width Page
                        a.dropdown-item(href="#") Sidebar Page
                        a.dropdown-item(href="#") FAQ