.container-fluid
    .row
        .col-lg-2.menus
            .navbar-fixed-left.mt-5.pt-5
                ul.menu.mt-5
                    li
                        a.text-dark(href='#') About
                    li
                        a.text-dark(href='#') Workflow
                    li
                        a.text-dark(href='#') Project
                    li
                        a.text-dark(href='#') Career
                    li
                        a.text-dark(href='#') Contact
                ul.sosmed
                    li.p-1
                        a.text-dark(href='#') Fb.
                    li.p-1
                        a.text-dark(href='#') Ig.
                .logo.mb-5
                    h1 CRS