// -- Color -- //
@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi:300,400,700,900');

@import 'components/materialize-colors';

*{
    font-family: 'Reem Kufi';
}
button:focus {outline:0 !important;}
a, p{
    margin: 0;
    letter-spacing: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
body{
    height: 100%;
    background-color: color('grey', 'lighten-5');
}


.wrapItemScroll{
    .background-Scroll{
        transform: scaleX(1);
        transform-origin: left;
    }
}


@import 'mixin/_basic';
@import 'mixin/_owl';

@import 'page/_nav';
@import 'page/_header';
@import 'page/_about';
@import 'page/_item';
@import 'page/_brand';

@import 'page/_category';

.coba{
    .row{
        h1{
            background-color: red;
        }
    }
}

footer{
    ul{
        @include ul-vertical();
    }
}