@import url("https://fonts.googleapis.com/css?family=Raleway:200,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
body {
  background-color: #f5f5f5; }

button, button:active, button:hover, button:focus,
input, input:active, input:hover, input:focus,
a, a:active, a:hover, a:focus {
  text-decoration: none;
  outline: none; }

nav {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Raleway', Arial;
  z-index: 99;
  width: 100%; }
  nav .navbar-nav .nav-item a {
    color: #000; }
    nav .navbar-nav .nav-item a:hover {
      color: red; }

.owl-carousel-index-header {
  position: relative; }
  .owl-carousel-index-header .item {
    padding-top: 150px;
    position: relative; }
    .owl-carousel-index-header .item .title {
      margin-left: 15%;
      width: 50%;
      z-index: 99;
      color: #000;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      mix-blend-mode: screen;
      font-size: 15vw; }
    .owl-carousel-index-header .item .background {
      right: 0;
      width: 70%;
      margin-left: 30%;
      top: 100px; }
    .owl-carousel-index-header .item .btn {
      margin-left: 20%;
      position: absolute;
      bottom: 100px;
      left: 100px;
      font-size: 24px;
      border-radius: 30px;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      mix-blend-mode: screen;
      padding-bottom: 10px;
      padding-left: 75px;
      padding-right: 75px; }
  .owl-carousel-index-header .owl-nav {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 30px; }
    .owl-carousel-index-header .owl-nav span {
      color: #000;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      mix-blend-mode: screen;
      font-size: 150px;
      padding: 15px; }
  .owl-carousel-index-header .owl-dots {
    position: absolute;
    left: 0;
    bottom: 10px;
    margin-left: 30%;
    z-index: 3; }
    .owl-carousel-index-header .owl-dots button.owl-dot {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      width: 100px;
      height: 3   px;
      margin-left: 2px;
      margin-right: 2px;
      background: #000; }
      .owl-carousel-index-header .owl-dots button.owl-dot.active {
        background-color: red; }
  @media only screen and (max-width: 992px) {
    .owl-carousel-index-header .item .title, .owl-carousel-index-header .item .btn {
      display: none; }
    .owl-carousel-index-header .item .background {
      right: 0;
      width: 100%;
      margin-left: 0%;
      top: 100px; } }

.owl-carousel-basic {
  position: relative; }
  .owl-carousel-basic .owl-nav {
    position: absolute;
    bottom: 0;
    left: 15%; }
    .owl-carousel-basic .owl-nav span {
      color: #000;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      mix-blend-mode: screen;
      font-size: 150px;
      padding: 10px; }

.owl-carousel-work {
  position: relative;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/19/OYO_Rooms_%28logo%29.png");
  background-size: 100%;
  background-position: center; }
  .owl-carousel-work img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222); }
    .owl-carousel-work img.desc {
      position: absolute;
      top: 0; }
  .owl-carousel-work .owl-nav {
    position: absolute;
    bottom: 0;
    left: 10%; }
    .owl-carousel-work .owl-nav button {
      background-color: red; }
    .owl-carousel-work .owl-nav span {
      color: #000;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      mix-blend-mode: screen;
      font-size: 25vw;
      padding-left: 10px; }

.owl-carousel-services img.desc {
  transform: scale(1.3, 1.3); }

#about, #circle {
  position: relative; }
  #about .slide-scroll, #circle .slide-scroll {
    position: absolute;
    bottom: 30px; }

#text-me .title {
  color: white; }

#text-me p {
  line-height: 250%;
  font-size: 24px; }

.load-page img {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: auto; }

.items-scroll {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700; }
  .items-scroll .inner {
    position: relative; }
  .items-scroll .outer {
    border-bottom: solid white 2px;
    overflow: hidden; }
  .items-scroll:nth-child(1) {
    background-color: #84c186; }
  .items-scroll:nth-child(2) {
    background-color: #8b6c4c; }
  .items-scroll:nth-child(3) {
    background-color: #39a3ee; }
  .items-scroll:nth-child(4) {
    background-color: #ef9144; }
  .items-scroll:nth-child(5) {
    background-color: #cd58eb; }
  .items-scroll:nth-child(6) {
    background-color: #b84b4b; }

.wrap-parallax {
  position: relative;
  width: 100%;
  height: 100%; }
  .wrap-parallax .background {
    transform: scaleX(1);
    transform-origin: right; }
  .wrap-parallax .item-1 {
    position: absolute;
    top: 20px;
    left: 0; }
    .wrap-parallax .item-1 h1 {
      color: black;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      font-weight: bold;
      mix-blend-mode: screen; }
    .wrap-parallax .item-1 p {
      color: #000;
      transition: all 0.2s;
      transform-origin: bottom; }
  .wrap-parallax .item-2 {
    position: absolute;
    top: 20px;
    left: 0; }

.header-scroll {
  position: fixed;
  top: 20%;
  width: 2px;
  z-index: 99; }
  .header-scroll .progress-container {
    background-color: rgba(150, 150, 150, 0.6);
    height: 100px;
    width: 2px; }
    .header-scroll .progress-container .progress-bar {
      background-color: #2196f3;
      height: 0%;
      width: 100%; }

body::-webkit-scrollbar {
  width: 5px; }

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 5px solid slategrey;
  border-radius: 3px;
  left: 0;
  position: absolute; }

.header-scroll {
  position: fixed;
  bottom: 10%;
  right: 100px;
  width: 2px;
  z-index: 100; }

.progress-container {
  background-color: rgba(150, 150, 150, 0.6);
  height: 100px;
  width: 2px; }

.progress-bar {
  background-color: #2196f3;
  height: 0%;
  width: 100%; }

.black-fade-in {
  background-color: red; }

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.portfolio-item {
  margin-bottom: 30px; }

.line-thumb {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1; }
  .line-thumb .grid {
    top: 0;
    height: 100vh;
    width: 100%; }
    .line-thumb .grid .col-lg-3 {
      height: 100vh;
      border-left: 1px solid rgba(0, 0, 0, 0.05); }
      .line-thumb .grid .col-lg-3:last-child {
        border-right: 1px solid rgba(0, 0, 0, 0.05); }

header.video {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden; }
  header.video::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  header.video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  header.video .container {
    position: relative;
    z-index: 2; }

#progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100vh;
  z-index: 20;
  background: #673ab7;
  will-change: transform;
  transform: scaleY(0);
  transform-origin: 0px 0px; }
