  //
  // footer.scss
  //


.footer-title {
    color: $white;
    letter-spacing: 1px;
}

.footer-link {
    a {
        color: $muted;
        line-height: 36px;
        transition: all 0.5s;
        &:hover {
            color: $custom;
        }
    }
}

.footer-social {
    a {
        text-align: center;
        color: $primary;
        display: block;
        width: 36px;
        height: 36px;
        background: $muted;
        line-height: 36px;
        font-size: 15px;
        transition: all 0.5s;
        &:hover {
            color: $white;
            background: $custom;
        }
    }
}

.footer-alt {
    color: $muted;
}