footer.my-3
    .container-fluid
        .row
            .col-lg-2.backTop
                p Back Top
            .col-lg-8.text-center.copyright
                p © Copyright Kelas. All-Right Reserved
            .col-lg-2.text-right
                a(href="#") Fb. Ig. tw.

            