footer.my-3
    .container
        .row
            .col-lg-12.py-5
                p.display-6 Where i'm at
        .row.nav
            .col-lg-12.pb-6
                ul
                    li.pr-3 Instagram
                    li.px-3 Twitter
                    li.px-3 Dribbble
                    li.px-3 Dribbble
                    li.px-3 Spotify

    .container
        .row
            .col-lg-6.backTop.copyright
                p © Copyright Kelas. All-Right Reserved
            .col-lg-6.text-right
                p#toTopNoCss Back Top
            